<title>Nuevo cliente</title>

{% extends 'base.html' %}
{% block content %}

    <!-- <a href="/CRM/clientes/">Volver a lista de clientes</a> -->
    <div class="mt-2 mb-2 container d-flex justify-content-center">
        <h1>Ingrese los datos del nuevo cliente</h1>
    </div>
    <form action="" method="post" class="form-control">{% csrf_token %}

        <div class="row d-flex justify-content-between mt-2">
            <!-- {% for field in form %}
            {% if field.label == 'fecha contacto' or field.label == 'fecha agendado' or field.label == 'fecha venta'%}
            {{ field.label }}<input type="date" id="calendario" name="trip-start" min="2010-01-01" max="2030-12-31">
            {% else %}
            <div class="mt-3 col-sm align-items-center justify-content-center">{{ field.label_tag }} {{ field }}</div>
            {% endif %}
            {% endfor %} -->

            {% for field in form %}
            {% if field.id_for_label == 'id_comercial'%}
            <div class="mt-3 col-sm">
                <!-- <label for="id_comercial">Comercial asociado:</label> <input type="text" name="comercial" size="8" class="fielddisform" id="id_comercial"> -->
                <label for="id_telefono">Comercial:</label>
                <select class="fielddisform" name="comercial">
                
                  <option value="---------">---------</option>
                {% for comercial in comerciales %}
                  <option value={{comercial.id}}>{{comercial.nombre}}</option>
                {% endfor %}
              </select>
            </div>
            {% else %}
            <div class="mt-3 col-sm">{{ field.label_tag }} {{ field }}</div>
            {% endif %}
            {% endfor %}

            {{form.errors}}
        </div>

        <div class="row mt-4 d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
    </form>

    <!-- <script>
        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
        var yyyy = today.getFullYear();

        today = mm + '/' + dd + '/' + yyyy;
        document.getElementById('calendario').value = today;
    </script> -->
{% endblock %}